body{
    background-color: #ff0000;
}

.map{

border: 1px;
height: 50%;
width: 50%

}

.info-panel{
    /* viewport that can scroll */
    background-color: yellow;
}

.picture-1{
background-color: green
}

.picture-2{
    background-color: green
}

.picture-3{
    background-color: green
}

.picture-4{
    background-color: green
}

/*map out images and names*/

/* Business Images */
/*******************/
.BusiAlpha{
    background-image: url("../Images/Business/BusiAlpha.PNG");
}


/* Resi Images */
/*******************/

/* MultiResi Images */
/*******************/

/* Industrial Images */
/*******************/